.container{
    background-color:pink;
    height: 100%;
    width: 50%;
    align-items: center;
    margin-top: 120px;
    border: 3px solid black;
    border-radius: 2%;
}
h1{
    float: right;
    margin-right: 60px;
    color:green;
    text-decoration: underline;
    margin-top: 40px;
    
}
h2{
    justify-content: center;
    align-self: center;
    color:red;
}
p{
    font-size: 20px;
    color: red;
}